@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UIA Way<br />
    UIA, WA 12345-67890<br />
    <abbr title="Phone">P:</abbr>
    012 - 345 6789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:UIA_CustomerSupport@example.com">UIA_CustomerSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:UIA_Marketing@example.com">UIA_Marketing@example.com</a>
</address>