@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UIA Brief</h1>
    <p class="lead">
        Ukraine International Airlines (UIA) US has been awarded as the best flight service provider in 2017.
    </p>
    <p>
        We insist to provide the perfect product and service throughtout customer's tour.
    </p>
        
    <p>
        Flight for everyone.
    </p>

    <p><a href="http://uiaflightbookingwebapplication.azurewebsites.net/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View My Profile</h2>
        <p>
            View or edit your profile.
        </p>
        <p><a class="btn btn-default" href="http://uiaflightbookingwebapplication.azurewebsites.net/Customers/ViewProfile">My Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Flight</h2>
        <p>Check available flight and book the interested flight.</p>
        <p><a class="btn btn-default" href="http://uiaflightbookingwebapplication.azurewebsites.net/Flights/ViewAvailableFlight">Search Flight &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Booked Flight</h2>
        <p>Check out my booked flight.</p>
        <p><a class="btn btn-default" href="http://uiaflightbookingwebapplication.azurewebsites.net/Flights/ViewCustomerBookedFlight">View My Booked Flight &raquo;</a></p>
    </div>
</div>