@model UIA_FlightBookingWebApplication.Models.FarebaseGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FarebaseGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Farebase.airlID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Farebase.airlID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
