<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uiaflightbookingwebapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uiaflightbookingwebapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UIAFlightBookingWebApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UIAFlightBookingWebApplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FlightBookingSystemEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=uiaflightbookingwebapplicationserver.database.windows.net;Initial Catalog=UIAFlightBookingWebApplicationDB;Persist Security Info=True;User ID=terranleong;Password=Leong.0123408482" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UIA_FlightBookingWebApplication.Models.FlightBookingSystemEntities, UIA_FlightBookingWebApplication" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ResourceId>/subscriptions/395e44d8-7234-4422-a054-eb3c19d787be/resourceGroups/UIAFlightBookingWebApplication/providers/Microsoft.Web/sites/UIAFlightBookingWebApplication</ResourceId>
    <ResourceGroup>UIAFlightBookingWebApplication</ResourceGroup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FlightBookingSystemEntities-Web.config Connection String">
      <ParameterValue>Data Source=uiaflightbookingwebapplicationserver.database.windows.net;Initial Catalog=UIAFlightBookingWebApplicationDB;Persist Security Info=True;User ID=terranleong;Password=Leong.0123408482</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>